<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<body style="height:100vh; margin:0; display:flex; flex-direction:column;">
<div layout:fragment="content">
    <!--Willkommen Banner- Nils-->
    <div class="card card2">

        <div th:style="'background: url(/images/books.png)'">
            <div class="my-4" style="text-align: center; color: white;">
                <h1 style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"> Willkommen!</h1>
                <h1 sec:authorize="hasRole('ADMIN')" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Sie sind als Admin angemeldet.</h1>
            </div>
        </div>
    </div>
    <div style="width: 100%; margin-top: 50px;"></div>
    <!-- Kartenreihe- Nils-->
    <div class="row" style="position:center;">
    <div class="card info">
        <img class="card-img-top" style="height:215px;" src="/images/apple.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nutzer registrieren</h5>
            <p class="card-text">Legen Sie als Admin neue Nutzer im System an, indem Sie ihnen Rollen zuweisen.</p>
            <a th:href="@{/users}" class="btn custom">Registrieren</a>
        </div>
    </div>

    <div class="card info">
        <img class="card-img-top" src="/images/glasses.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kurse anlegen</h5>
            <p class="card-text">Erstellen Sie neue Kurse, denen Sie Lehrer und Schüler zuordnen können.</p>
            <a th:href="@{/subjects}" class="btn custom">Anlegen</a>
        </div>
        </div>
    </div>

</div>
</body>
</html>