<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <!--Platzhalter- Nils-->
    <div class="space"></div>
    <!-- Formular für die Registrierung- Nils-->
    <div class="card user">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">User anlegen</h5>
            <h6 class="card-subtitle mb-2 text-muted">Legen Sie User im System an</h6>
            <p class="card-text">
        <form th:action="${'/users/'}" method="post" th:object="${userForm}">
        <div class="form-row">
            <!-- Klarnamen eingeben- Nils-->
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" th:field="*{name}" type="text" placeholder="Name" id="name" class="form-control">
                <label class="text-danger small" th:errors="*{name}" />
            </div>
            <!-- Usernamen eingeben- Nils-->
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}" th:field="*{username}" type="text" class="form-control" id="username" placeholder="Username">
                <label class="text-danger small" th:errors="*{username}" />
            </div>
        </div>
        <div class="form-row">
            <!-- Passwort eingeben- Nils-->
            <div class="form-group col-md-8">
                <label for="password">Passwort</label>
                <input th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" th:field="*{password}" type="password" placeholder="Passwort" id="password" class="form-control" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Das Passwort muss mindestens 4 Zeichen enthalten.</small>

                <label class="text-danger small" th:errors="*{password}" />
            </div>
            <!-- Rolle auswählen- Nils-->
            <div class="form-group col-md-4">
                <label for="role">Rolle</label>
                <select class="form-control mr-2" th:classappend="${#fields.hasErrors('role') ? 'is-invalid' : ''}" th:field="*{role}" id="role">
                    <option value="" disabled>Rolle wählen</option>
                    <option value="LEHRER">Lehrer </option>
                    <option value="SCHÜLER">Schüler </option>
                    <option value="ADMIN"> Admin </option>
                </select>
                <label class="text-danger small" th:errors="*{role}" />
            </div>
        </div>

        <button type="submit" class="btn custom">User registrieren</button>
    </form>
        </p>
        </div>
        </div>
    <!--Platzhalter-Nils-->
    <div class="space"></div>
    <!--Tabelle aller User im System- Nils-->
    <div style="width: 80%; margin:auto;">
            <table class="table table-striped" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <thead style="background-color: #032d57; color: white;">
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Rolle</th>
                     <th></th>
                </tr>
                </thead>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
              <td>
                  <form style="float:left; margin-right:5px" th:action="${'/users/' + user.id + '/deleteUser'}" method="post" class="form">
                        <button type="submit" class="btn btn-danger">Löschen</button>
              </form>
              </td>
                </tr>
            </table>
          </div>
    <!--Platzhalter- Nils-->
        <div class="space"></div>
    </div>
</body>
</html>