<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> User </h1>

    </div>

    <div>
        <h3>User im System </h3>


        <div>
            <table class="table">

                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Rolle</th>

                </tr>

                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:if="${not user.userIsOnEdit}">
                    <td th:if="${not user.userIsOnEdit}"><form style="float:left; margin-right:5px" th:action="${'/users/' + user.id + '/deleteUser'}" method="post" class="form">
                        <button type="submit" class="btn btn-danger">Löschen</button>
                    </form>
                        <form th:action="${'/users/' + user.id + '/editUser'}" method="post" class="form">
                            <button type="submit" class="btn btn-warning">Bearbeiten</button>
                        </form>
                        </form>

                    </td>
                    <td th:if="${user.userIsOnEdit}">
                        <form style="float:left; margin-right:5px" th:action="${'/users/' + user.id + '/saveNewUser'}" method="post" class="form" th:object="${userForm}">
                            <input th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" th:field="*{name}" type="text" placeholder="Name" class="form-control mr-2">
                            <input th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}" th:field="*{username}" type="text" placeholder="Username" class="form-control mr-2">
                            <input th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" th:field="*{password}" type="text" placeholder="Passwort" class="form-control mr-2">
                            <select class="form-control mr-2" th:classappend="${#fields.hasErrors('role') ? 'is-invalid' : ''}" th:field="*{role}">
                                <option value="Schüler"> Schüler </option>
                                <option value="Lehrer">Lehrer </option>
                                <option value="Admin"> Admin </option>
                            </select>
                            <button type="submit" class="btn btn-primary">Speichern</button>
                            <label class="text-danger small" th:errors="*{name}" />
                            <label class="text-danger small" th:errors="*{username}" />
                            <label class="text-danger small" th:errors="*{password}" />
                            <label class="text-danger small" th:errors="*{role}" />
                        </form>
                        <form th:action="${'/users/' + user.id + '/abortEditUser'}" method="post" class="form">
                            <button type="submit" class="btn btn-warning">Bearbeitung abbrechen</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <h3>Neuen User erstellen</h3>
        <form th:action="${'/users/create'}" method="post" class="form-inline" th:object="${userForm}">
            <input th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" th:field="*{name}" type="text" placeholder="Name" class="form-control mr-2">
            <input th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}" th:field="*{username}" type="text" placeholder="Username" class="form-control mr-2">
            <input th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" th:field="*{password}" type="text" placeholder="Passwort" class="form-control mr-2">
            <select class="form-control mr-2" th:classappend="${#fields.hasErrors('role') ? 'is-invalid' : ''}" th:field="*{role}">
                <option value="Lehrer">Lehrer </option>
                <option value="Schüler">Schüler </option>
                <option value="Admin"> Admin </option>
            </select>

            <button type="submit" class="btn btn-primary">Erstellen</button>
            <label class="text-danger small" th:errors="*{name}" />
            <label class="text-danger small" th:errors="*{username}" />
            <label class="text-danger small" th:errors="*{password}" />
            <label class="text-danger small" th:errors="*{role}" />
        </form>


    </div>


</div>
</body>
</html>