<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">

        <h1>Menü</h1>
        <p class="small">
            <a href="/subjects/"> Fächer verwalten</a><br>
            <a href="/users/"> Nutzer verwalten</a><br>
            <a href="/tasks/createTask/"> Aufgaben anlegen</a>
        </p>
    </div>

    <h3>vorhandene Aufgaben</h3>


    <div>
        <!--tabelle für die Anzeige der Aufgaben-->
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Beschreibung</th>
                <th>Fach</th>
                <th>Status</th>

            </tr>

            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.subject}"></td>
                <td th:text="${task.status}"></td>
              <td th:if="${not task.taskIsOnEdit}">

                <td th:if="${not task.taskIsOnEdit}"><form style="float:left; margin-right:5px" th:action="${'/tasks/'  + task.id + '/deleteTask'}" method="post" class="form">
                    <button type="submit" class="btn btn-danger">Löschen</button></form>

                    <form th:action="${'/tasks/' + task.id + '/editTask'}" method="post" class="form">
                        <button type="submit" class="btn btn-warning">Bearbeiten</button>
                    </form>
            </form>
                </td>

               <td th:if="${task.taskIsOnEdit}">
                    <form style="float:left; margin-right:5px" th:action="${'/tasks/' + task.id + '/saveNewTask'}" th:object="${taskForm}" method="post" class="form">
                        <input th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" th:field="*{title}"  type="text" placeholder="Titel" class="form-control mr-2">
                        <input th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" th:field="*{description}" type="text" placeholder="Beschreibung" class="form-control mr-2">
                        <select th:classappend="${#fields.hasErrors('subject') ? 'is-invalid' : ''}" th:field="*{subject}" class="form-control mr-2">
                            <option th:each="subject : ${subjects}" th:text="${subject.id + '  ' + subject.name}" th:value="${subject.id}"></option>
                        </select>

                        <button type="submit" class="btn btn-primary">Speichern</button>
                        <label class="text-danger small" th:errors="*{description}" />
                        <label class="text-danger small" th:errors="*{title}" />
                        <label class="text-danger small" th:errors="*{subject}" />
                    </form>
                   <form th:action="${'/tasks/' + task.id + '/abortEditTask'}" method="post" class="form">
                       <button type="submit" class="btn btn-warning"> Bearbeitung abbrechen</button>
                   </form>
                </td>
                <td th:if="${not task.taskIsOnEdit}">
                <td>
                    <form th:action="${'/tasks/' + task.id + '/publishTask'}" method="post" class="form">
                        <button type="submit" class="btn btn-warning"> Aufgabe veröffentlichen </button>
                    </form>
                </td>
                <td>
                    <form th:action="${'/tasks/' + task.id + '/closeTask'}" method="post" class="form">
                        <button type="submit" class="btn btn-warning"> Aufgabe schließen </button>
                    </form>
                </td>
                </td>


                <td><a th:href="${'/tasks/' + task.id}"> Lösung abgeben</a></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>