<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div layout:fragment="content">
    <div class="space"></div>
    <!--Aufgabenbeschreibung Banner- Nils-->
    <div style="background-color: #032d57; color: white;box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); height:70px; text-align: center; width:80%; margin:auto;">
        <h3 style="margin-top: 17px; display: inline-block;"  th:text="${ 'Aufgabe: '+ task.title}"></h3>
    </div>
    <div class="card" style="box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2); width:80%; margin:auto;">
        <div class="card-body">
            <h5 class="card-title"> Beschreibung</h5>
            <p class="card-text" th:text="${task.description}"></p>
        </div>
    </div>
    <div class="space"></div>
<!--tabelle für den Lehrer-->
    <table sec:authorize="hasRole('LEHRER')" th:if="${!task.entries.empty}" class="table table-striped" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <thead style="background-color: #032d57; color: white;">
        <tr>
            <th>Lösung</th>
            <th>Schüler</th>
            <th>Note</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="entry : ${task.entries}">
            <td th:text="${entry.solution}"></td>
            <td th:text="${entry.student.name}"></td>
            <td th:text="${entry.evaluation.name}"></td>
            <td th:text="${entry.comment}"></td>
            <!-- Spalte mit Funktionen für den Lehrer - Aylin -->

            <td th:if="${not entry.evaluationIsOnEdit}">
                <!-- Bewertung eingeben/bearbeiten Button für den Lehrer - Aylin -->
                <form th:if="${entry.evaluation.name == 'Unbenotet'}" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/editEvaluation'}" method="post" class="form">
                    <button type="submit" class="btn btn-success">Bewerten</button>
                </form>
                <form th:if="${entry.evaluation.name != 'Unbenotet'}" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/editEvaluation'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning">Bewertung bearbeiten</button>
                </form>
            </td>
            <!-- Formular zum Bearbeiten der Bewertung für den Lehrer - Aylin -->
            <td th:if="${entry.evaluationIsOnEdit}">
                <form style="float:left; margin-right:5px" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/saveNewEvaluation'}" method="post" class="form">

                    <select name="newEvaluation" class="form-control mr-2">
                        <option th:each="evaluationOpt : ${T(de.hsba.bi.demo.task.Evaluation).values()}"
                                th:value="${evaluationOpt}" th:text="${evaluationOpt.name}"></option>
                    </select>
                    <input name="comment" type="text" placeholder="Kommentar" class="form-control mr-2">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
                <!--Bearbeitung abbrechen button - Aylin-->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/abortEditEvaluation'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning"> Zurück </button>
                </form>
            </td>
        </tr>
    </table>
            <!-- Tabelle für die Schüler anzeigen-->
    <div style="width:80%; margin:auto;">
    <h4 sec:authorize="hasRole('SCHÜLER')" th:if="${task != null and !task.entries.empty}"> Deine Lösung</h4>
        </div>
    <div sec:authorize="hasRole('LEHRER')" style="margin:auto;width:80%;">
        <h1 th:if="${task.entries.empty}">Es wurden keine Lösungen abgegeben</h1>
    </div>
    <table th:if="${!taskEntries.empty}" class="table" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width:80%; margin:auto;">
  <thead style="background-color: #032d57; color: white;">
        <tr>
            <th>Lösung</th>
            <th>Schüler</th>
            <th>Note</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
  </thead>
        <tr th:each="entry : ${taskEntries}">
            <td th:text="${entry.solution}"></td>
            <td th:text="${entry.student.name}"></td>
            <td th:text="${entry.evaluation.name}"></td>
            <td th:text="${entry.comment}"></td>

            <!-- Spalte mit Funktionen für den Schüler - Aylin -->

            <td th:if="${not entry.answerIsOnEdit}">
                <!-- Antwort Löschen Button für den Schüler - Aylin -->
                <form style="float:left; margin-right:5px" th:action="${'/tasks/'  + task.id + '/'+  entry.id + '/deleteAnswer'}" method="post" class="form" th:if="${task.status.name() != 'GESCHLOSSEN'}">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
                </td>
            <td th:if="${not entry.answerIsOnEdit}">
                <!-- Antwort Bearbeiten Button für den Schüler - Aylin -->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/editAnswer'}" method="post" class="form" th:if="${task.status.name() != 'GESCHLOSSEN'}">
                    <button type="submit" class="btn btn-warning">Bearbeiten</button>
                </form>
            </td>
            <!-- Formular zum Bearbeiten der Antwort für den Schüler - Aylin -->
            <td th:if="${entry.answerIsOnEdit}">
                <form style="float:left; margin-right:5px" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/saveNewAnswer'}" method="post" class="form" th:object="${answerForm}">
                    <input th:classappend="${#fields.hasErrors('solution') ? 'is-invalid' : ''}" th:field="*{solution}" type="text" placeholder="Neue Lösung" class="form-control mr-2">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                    <label class="text-danger small" th:errors="*{solution}" />
                </form>
                <!--Bearbeitung abbrechen button-->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/abortEditAnswer'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning"> Bearbeitung abbrechen</button>
                </form>
            </td>
            <!-- Formular zum Bearbeiten der Bewertung für den Lehrer - Aylin -->
            <td th:if="${entry.evaluationIsOnEdit}">
                <form style="float:left; margin-right:5px" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/saveNewEvaluation'}" method="post" class="form">

                    <select name="newEvaluation" class="form-control mr-2">
                        <option th:each="evaluationOpt : ${T(de.hsba.bi.demo.task.Evaluation).values()}"
                                th:value="${evaluationOpt}" th:text="${evaluationOpt.name}"></option>
                    </select>
                    <input name="comment" type="text" placeholder="Kommentar" class="form-control mr-2">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
                <!--Bearbeitung abbrechen button - Aylin-->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/abortEditEvaluation'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning"> Zurück </button>
                </form>
            </td>
        </tr>
    </table>

    <!-- Antrag für Lösung anlegen - Aylin -->
        <div th:if="${taskEntries.empty and task.status.name() != 'GESCHLOSSEN'}" class="card" style="margin:auto; width: 80%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">Lösung abgeben</h5>
                <h6 class="card-subtitle mb-2 text-muted">Geben Sie die Lösung für die Aufgabe an. Sie können die Lösung danach noch bearbeiten.</h6>
                <p class="card-text">
        <form th:action="${'/tasks/' + task.id}" th:object="${answerForm}" method="post">
               <div class="form-group" style="width:100%;">
                <textarea style="width:100%; min-height:200px;" th:classappend="${#fields.hasErrors('solution') ? 'is-invalid' : ''}" th:field="*{solution}" type="text" placeholder="Lösung" class="form-control"></textarea>
                    <label class="text-danger small" th:errors="*{solution}" />
                </div>
                 <div class="form-group">
                    <button type="submit" class="btn custom">Abgeben</button><br>
                 </div>
        </form>
                </p>
            </div>
        </div>
</div>
</body>
</html>