<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h2 th:text="${ 'Aufgabe: '+ task.description}">
        </h2>
        <p th:text="${ 'Beschreibung: '+ task.description}"></p>
    </div>
    <h4 th:if="${task != null and !task.entries.empty}">
        Lösungen
    </h4>
    <!-- Tabelle für Fach anzeigen-->
    <table th:if="${task != null and !task.entries.empty}" class="table">
        <tr>
            <th>Id</th>
            <th>Lösung</th>
            <th>Schüler</th>
            <th>Note</th>
        </tr>
        <tr th:each="entry : ${task.entries}">
            <td th:text="${entry.id}"></td>
            <td th:text="${entry.solution}"></td>
            <td th:text="${entry.student}"></td>
            <td th:text="${entry.evaluation}"></td>
            <td th:text="${entry.comment}"></td>

            <!-- Spalte mit Funktionen für den Schüler - Aylin -->

            <td th:if="${not entry.answerIsOnEdit}">
                <!-- Antwort Löschen Button für den Schüler - Aylin -->
                <form style="float:left; margin-right:5px" th:action="${'/tasks/'  + task.id + '/'+  entry.id + '/deleteAnswer'}" method="post" class="form">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
                <!-- Antwort Bearbeiten Button für den Schüler - Aylin -->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/editAnswer'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning">Bearbeiten</button>
                </form>
            </td>
            <!-- Formular zum Bearbeiten der Antwort für den Schüler - Aylin -->
            <td th:if="${entry.answerIsOnEdit}">
                <form style="float:left; margin-right:5px" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/saveNewAnswer'}" method="post" class="form" th:object="${answerForm}">
                    <input th:classappend="${#fields.hasErrors('solution') ? 'is-invalid' : ''}" th:field="*{solution}" type="text" placeholder="Neue Lösung" class="form-control mr-2">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                    <label class="text-danger small" th:errors="*{solution}" />
                </form>
                <!--Bearbeitung abbrechen button-->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/abortEditAnswer'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning"> Bearbeitung abbrechen</button>
                </form>
            </td>

            <!-- Spalte mit Funktionen für den Lehrer - Aylin -->

            <td th:if="${not entry.evaluationIsOnEdit}">
                <!-- Bewertung eingeben/bearbeiten Button für den Lehrer - Aylin -->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/editEvaluation'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning">Bewerten</button>
                </form>
            </td>
            <!-- Formular zum Bearbeiten der Bewertung für den Lehrer - Aylin -->
            <td th:if="${entry.evaluationIsOnEdit}">
                <form style="float:left; margin-right:5px" th:action="${'/tasks/' + task.id + '/'+  entry.id + '/saveNewEvaluation'}" method="post" class="form">

                    <select class="form-control mr-2" name="newEvaluation">
                        <option value="SEHRGUT"> Sehr gut </option>
                        <option value="GUT"> Gut </option>
                        <option value="DURCHSCHNITTLICH"> Durchschnittlich </option>
                        <option value="AUSREICHEND"> Ausreichend </option>
                        <option value="MANGELHAFT"> Mangelgaft </option>
                        <option value="UNGENÜGEND"> Ungenügend </option>

                    </select>

                    <input name="comment" type="text" placeholder="Kommentar" class="form-control mr-2">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
                <!--Bearbeitung abbrechen button - Aylin-->
                <form th:action="${'/tasks/' + task.id + '/'+  entry.id + '/abortEditEvaluation'}" method="post" class="form">
                    <button type="submit" class="btn btn-warning"> Zurück </button>
                </form>
            </td>
        </tr>
    </table>

    <!-- Antrag für Lösung anlegen - Aylin -->
    <div>
        <hr/>
        <h4>
            Lösung eintragen
        </h4>
        <form th:action="${'/tasks/' + task.id}" th:object="${answerForm}" method="post" class="form-inline">
            <input th:classappend="${#fields.hasErrors('solution') ? 'is-invalid' : ''}" th:field="*{solution}" type="text" placeholder="Antwort" class="form-control mr-2">
            <button type="submit" class="btn btn-primary">Eintragen</button>
            <label class="text-danger small" th:errors="*{solution}" />
        </form>
    </div>
    <hr/>
</div>
</body>
</html>