<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> Fächer </h1>

        <p class="small">
            <a href="/tasks/"> zurück zum Menü</a>
        </p>
    </div>
    <div>
        <h3>vorhandene Fächer</h3>


        <div>
            <table class="table">

                <tr>
                    <th>Id</th>
                    <th>Fach</th>
                    <th>Lehrer</th>
                    <th>Schüler</th>

                </tr>

                <tr th:each="subject : ${subjects}">
                    <td th:text="${subject.id}"></td>
                    <td th:text="${subject.name}"></td>
                    <td th:text="${subject.teacher}"></td>
                    <td th:text="${subject.students}"></td>
                </tr>
            </table>
        </div>
        <h3>Aufgabe anlegen</h3>
        <form action="/subjects/" method="post" class="form-inline">
            <input name="name" type="text" placeholder="Fach" class="form-control mr-2">
            <input name="teacher" type="text" placeholder="Lehrer" class="form-control mr-2">
            <input name="students" type="text" placeholder="Schüler" class="form-control mr-2">
            <button type="submit" class="btn btn-primary">Erstellen</button>
        </form>


    </div>



</div>
</body>
</html>