<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> User </h1>

        <p class="small">
            <a href="/tasks/"> zurück zum Menü</a>
        </p>

    </div>

    <div>
        <h3>User im System </h3>


        <div>
            <table class="table">

                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Rolle</th>

                </tr>

                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
                </tr>
            </table>
        </div>
        <h3>Neuen User erstellen</h3>
        <form action="/users/" method="post" class="form-inline">
            <input name="name" type="text" placeholder="Vor/- Nachname" class="form-control mr-2">
            <input name="username" type="text" placeholder="Username" class="form-control mr-2">
            <input name="password" type="text" placeholder="Passwort" class="form-control mr-2">
            <input name="role" type="text" placeholder="Rolle" class="form-control mr-2">
            <button type="submit" class="btn btn-primary">Erstellen</button>
        </form>


    </div>


</div>
</body>
</html>