<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> User </h1>

        <p class="small">
            <a href="/tasks/"> zurück zum Menü</a>
        </p>

    </div>

    <div>
        <h3>User im System </h3>


        <div>
            <table class="table">

                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Rolle</th>

                </tr>

                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
                    <td> <form th:action="${'/users/' + user.id + '/delete'}" method="post" class="form">
                        <button type="submit" class="btn btn-danger">Löschen</button>
                    </form></td>
                </tr>
            </table>
        </div>
        <h3>Neuen User erstellen</h3>
        <form action="/users/" method="post" class="form-inline">
            <input name="name" type="text" placeholder="Name" class="form-control mr-2">
            <input name="username" type="text" placeholder="Username" class="form-control mr-2">
            <input name="password" type="text" placeholder="Passwort" class="form-control mr-2">
            <select class="form-control mr-2" name="role">
                <option disabled="disabled" selected="selected">Rolle</option>
                <option value="Lehrer">Lehrer </option>
                <option value="Schüler">Schüler </option>
                <option value="Admin"> Admin </option>
            </select>

            <button type="submit" class="btn btn-primary">Erstellen</button>
        </form>


    </div>


</div>
</body>
</html>