<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="my-4">
        <h1> Fächer</h1>

        <p class="small">
            <a href="/menu/"> zurück zum Menü</a>
        </p>
    </div>

<!-- Tabelle für Fach anzeigen-->
    <table th:if="${subject != null and !subject.entries.empty}" class="table">
        <tr>
            <th>Id</th>
            <th>Fach</th>
            <th>Lehrer</th>
            <th>Schüler</th>
        </tr>
        <tr th:each="entry : ${subject.entries}">
            <td th:text="${#numbers.formatDecimal(entry.subjectId, 1, 2)}"></td>
            <td th:text="${entry.subjectName}"></td>
            <td th:text="${entry.subjectTeacher}"></td>
            <td th:text="${entry.subjectStudent}"></td>
        </tr>
    </table>

    <!-- Antrag für Fach anlegen-->
    <div>
        <hr />
        <h2>Fach anlegen</h2>
        <form th:action="${'/menu/' + subject.id}" method="post" class="form-inline">
            <input name="subjectName" type="text" placeholder="Fach Bezeichnung" class="form-control mr-2">
            <input name="subjectTeacher" type="text" placeholder="Lehrer" class="form-control mr-2">
            <input name="subjectStudent" type="text" placeholder="Schüler" class="form-control mr-2">
            <button type="submit" class="btn btn-primary">Eintragen</button>
        </form>
    </div>

    <hr/>
</div>
</body>
</html>