<!DOCTYPE html>
<html lang="en">
<html style="min-height: 100%;" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>SchoolNet</title>
    <script src="/js/multi-select-dropdown.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body style="  display: flex; min-height: 100vh; flex-direction: column; justify-content: space-between;">
<!--Header- Nils-->
<div th:fragment="header" class="navbar" style="background-color: #032d57; padding: 15px; text-align: center; color: white;">
    <div sec:authorize="hasRole('ADMIN')" style="display:block; text-align: center;">
        <a th:href="@{/admin}"  style="color: white;">
            <span style="font-size:35px;" class="material-symbols-outlined">
          home
            </span>
            <p style="font-size: 13px;margin-top: -10px;">Home</p>
        </a>
    </div>

    <div sec:authorize="hasRole('SCHÜLER')" style="display:block; text-align: center;">
        <a th:href="@{/welcome}"  style="color: white;">
            <span style="font-size:35px;" class="material-symbols-outlined">
          home
            </span>
            <p style="font-size: 13px;margin-top: -10px;">Home</p>
        </a>
    </div>

    <div sec:authorize="hasRole('LEHRER')" style="display:block; text-align: center;">
        <a th:href="@{/welcome}"  style="color: white;">
            <span style="font-size:35px;" class="material-symbols-outlined">
          home
            </span>
            <p style="font-size: 13px;margin-top: -10px;">Home</p>
        </a>
    </div>


    <div style="font-size: 25px; font-family:Titillium Web, sans-serif; margin:auto;">SchoolNet
        <span class="material-symbols-outlined">
       school
        </span>
    </div>

    <form class="float-right;" method="post" sec:authorize="authenticated" th:action="@{/logout}">
        <button style="color: white;" class="btn btn-sm btn-link" type="submit">
            <span style="color:white;" th:text="${#httpServletRequest.remoteUser}"/>
            abmelden
        </button>
    </form>
</div>
<!--Content- Nils-->
<div layout:fragment="content" class="container" style="margin: 0 auto;
    min-height: 500px; position: relative; height:auto;"></div>
<!-- Footer- Nils-->
<div layout:fragment="footer"   style="background-color: #032d57; text-align: center; margin-top:auto; min-height:50px;">
    <p style="color:white; position: center; margin-top: 12px;">SchoolNet-das digitale Benotungssytem</p>
</div>
</body>
</html>
