<!DOCTYPE html>
<html lang="en">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Verwaltungssystem</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/w3.css"/>
</head>
<body>
<div class="w3-top" th:fragment="header"><div id="w3-bar w3-black w3-card"> Hier wird zukünftig der Header stehen</div></div>
<div class="container" layout:fragment="content"></div>
</body>
</html>
