<!DOCTYPE html>
<html lang="en">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Verwaltungssystem</title>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/w3.css"/>
</head>
<body>
<div th:fragment="header" style="background-color: #032d57;
                                              padding: 30px;
                                              text-align: center;
color: white;"> Verwaltungssystem <p class="small">
    <a href="/tasks/">zurück zum Menü</a>
</p> </div>
<div class="container" layout:fragment="content"></div>
<div layout:fragment="footer"   style="background-color: #032d57; text-align: center; padding: 20px; color: white; position: absolute; bottom: 0; width: 100%;">
    Bei Fragen und Anmerkungen melden Sie sich gerne bei dem unter 0175 12345678
</div>
</body>
</html>
